POSTGRES_USER={{ yeet2_postgres_user }}
POSTGRES_PASSWORD={{ yeet2_postgres_password }}
POSTGRES_DB={{ yeet2_postgres_db }}

API_PORT={{ yeet2_api_port }}
CONTROL_PORT={{ yeet2_control_port }}
YEET2_CONTROL_ORIGIN={{ yeet2_control_origin }}

YEET2_EXECUTOR_MODE={{ yeet2_executor_mode }}
YEET2_INSTALL_CODE_HARNESSES={{ yeet2_install_code_harnesses | lower }}
YEET2_HARNESS_TIMEOUT_SECONDS={{ yeet2_harness_timeout_seconds }}
YEET2_BRAIN_PLANNER_BACKEND={{ yeet2_brain_planner_backend }}
YEET2_BRAIN_CREWAI_ENABLED={{ yeet2_brain_crewai_enabled | lower }}
YEET2_AUTONOMY_LOOP_ENABLED={{ yeet2_autonomy_loop_enabled | lower }}
YEET2_LOCAL_WORKER_ENABLED={{ yeet2_local_worker_enabled | lower }}

YEET2_BRAIN_BEARER_TOKEN={{ yeet2_brain_bearer_token }}
YEET2_EXECUTOR_BEARER_TOKEN={{ yeet2_executor_bearer_token }}
YEET2_API_BEARER_TOKEN={{ yeet2_api_bearer_token }}

OPENROUTER_API_KEY={{ yeet2_openrouter_api_key }}
OPENAI_API_KEY={{ yeet2_openai_api_key }}
ANTHROPIC_API_KEY={{ yeet2_anthropic_api_key }}
GITHUB_TOKEN={{ yeet2_github_token }}
LLM_API_KEY={{ yeet2_llm_api_key }}
LLM_MODEL={{ yeet2_llm_model }}
LLM_BASE_URL={{ yeet2_llm_base_url }}

YEET2_CODEX_MODEL={{ yeet2_codex_model }}
YEET2_CLAUDE_MODEL={{ yeet2_claude_model }}
